/* lines */

.lines {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(0.6);
}

.lines div {
    transform-origin: 40px 40px;
    animation: lines-animation 1.2s linear infinite;
}

.lines div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 5px;
    height: 16px;
    border-radius: 20%;
    background: black;
}

.lines div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lines div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lines div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lines div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lines div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lines div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lines div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lines div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lines div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lines div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lines div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lines div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

/* ring */

.ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: ring-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes ring-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes lines-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}