.slider-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-flow: row nowrap;
    width: 300%;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s all;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide p {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 28px;
    line-height: 48px;
    color: #ffffff;
}

.slider-info .title {
    font-size: 38px;
}